.logo_empresa {
    width: 120px;
}

#home-section {
    background: url(../img/banner3.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-fluid-3 {
    width: 100%;
    height: auto;
}

.hr {
    background-color: #6a6a6a;
}